@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,600;0,900;1,700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background: #fff;
    box-shadow: rgba(44, 43, 41, 0.7) 2px 2px 10px 0px;
    width: 90%;
    margin: auto;
}

header{
    display: flex;
    background: #2c2b29;
    height: 15vh;
    box-shadow: rgba(44, 43, 41, 0.7) 2px 2px 10px 0px;
}

#logo{
    text-transform: uppercase;
    font-weight: 700;
    background: #a7d1e7;
    color: #2c2b29;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    letter-spacing: 0px;
    width: 40%;
    letter-spacing: -1px;
}

#items{
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;
    font-size: 1.2rem;
}

#items li{
    margin: 50px;
}

#projects{
    padding: 50px;
    margin: auto;
    background: #f8f8f8;
    height: 75vh;
}

#projects h1{
    color: #2c2b29;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.project{
    padding: 30px 10px;
}

.project li{
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c2b29;
}

.project p{
    font-size: 1.2rem;
    margin: 20px 0;
}

.project a{
    background-color: #2c2b29;
    color: #f8f8f8;
    cursor: pointer;
    padding: 10px 30px;
    transition: 0.5s ease;
}

.project a:hover{
    background-color: #a7d1e7;
    color: #2c2b29;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 2px;
}

footer{
    background-color: #2c2b29;
    color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
}